@page "/AllProducts"
@inject IProductService ProductService
@using Solvo_Core.Models
@using Solvo_Repository.UnitOfWork
@using Solvo_Service.Contracts

<h1 class="h3 mb-4 text-gray-800">Tüm Ürünler</h1>


<table class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>Id</th>
            <th>Fiyat</th>
            <th>Stok</th>
            <th>İsim</th>
            <th>Marka</th>
            <th>Kategori</th>
            <th>Açıklama</th>
            <th>Tarih</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var p in products)
        {
            <tr>
                <td>@p.Id</td>
                <td>@p.Price ₺</td>
                <td>@p.Stock</td>
                <td>@p.Name</td>
                <td>@p.Brand?.Name</td>
                <td>@p.Category?.Name</td>
                <td>@p.Description</td>
                <td>@p.CreateDate</td>
            </tr>
        }
    </tbody>
</table>


@code {
    private List<Product> products;

    protected override async Task OnInitializedAsync()
    {
        products = ProductService.GetAllProduct().Where(p => p.Status == Solvo_Core.Enums.BaseStatus.Active).ToList();
    }
}
